/* Color palette: https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */

$slate: rgba(97, 111, 130, 1);
$stealth: rgba(29, 34, 39, 1);
$tezos-blue: rgba(15, 97, 255, 1);
$tezos-blue-lightest: #BEDFFF;
$steel: rgba(131, 136, 147, 1);
$white: rgba(255, 255, 255, 1);

$font-size: 18px;
$padding: 20px;
$std-border-radius: 10px;
